<div class="container">
  <div class="row">

　<div class="col-md-2 mr-4">
  <%= form_with(url: users_searches_path, local: true, method: :get, class: "search_form") do |f|%>
  <%= f.text_field :keyword, placeholder: "Name", class: "search_input"%>
  <%=f.submit "Search", class: "search_btn"%><% end %>
    <ul id="result"></ul></p>
  </div>


      <% users.each do |user| %>
      <div class="user_box col-md-2 mr-4"><%= link_to user_path(user.id) do %>
      <div style="text-align:center;"><%= attachment_image_tag user, :profile_image,size:"120x120", fallback: "no_image.png" %></div>
      <div style="text-align:center;"><%= user.department.name %></div>
      <div style="text-align:center;"><%= user.name %></div>
      <div style="margin-top:20px; text-align:center;">
      <h6><i class="fas fa-anchor"><%=user.join_year%></i></h6></div><% end %>
      </div>
      <% end %>

       <div class="pagination pagination-sm justify-content-center">
       <%= paginate users %></div>
  </div>
</div>



<style>
  .user_box {
    padding: 0.5em 1em;
    margin: 1em 0;
    border: double 5px #5d627b;
}

h6 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
</style>