<div class='container'>
  <div class='row justify-content-center mx-auto'>
    <div class="col-sm-12 col-md-6 col-lg-7 px-5 px-sm-0">
      <h2>プロフィール編集</h2>
      
      <%= form_with model:@user, local:true do |f| %>

      <div class="form-group">
        <%= f.label :profile_image,"画像" %><br />
        <%= attachment_image_tag @user, :profile_image,size:"120x120", fallback: "no_image.png"%>
      　<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>
      <div class="form-group">
        <%= f.label :name,"お名前" %><br />
        <%= f.text_field :name, autofocus: true,class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction,"自己紹介" %><br />
        <%= f.text_area :introduction, 'data-provider': :summernote %>
      </div>
      
      <div class="form-group">
        <%= f.label :join_year,"クラス" %><br />
        <%= f.select :join_year,[["1年目", "Beginner"], ["2年目", "Level2"], ["3年目", "Level3"],["4年目", "Level4"],["5年以上", "Level5+"]], include_blank: "選択して下さい",class:"form-control" %>
      </div>
      
      <% if @departments.present?%> 
      <div class="form-group">
        <%= f.label:"所属先" %><br />
        <%= f.collection_select(:department_id,@departments,:id,:name,class:"form-control") %>
      </div>
      <% end %>
      
      <div class="actions" style="margin:20px 0;">
        <%= f.submit "変更を保存" ,class:"btn btn-outline-primary btn-block" %>
        
      </div>
　　　<% end %>
　　　<p class="text-right">
　　　<%=link_to "退会処理へすすむ",destroy_confirm_user_path(@user),class:"fas fa-exclamation-circle"%>
　　　</p>
　　　
    </div>
  </div>
</div>