
    <!--画像表示スライドはBootstrapのカルーセルで行う　動きはjquery-->
    <div class="carousel slide" data-ride="carousel" id="carousel">
      <!--下の棒（インディケーター）出すための記述-->
      <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li  data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
      </ol>
      <!--表示する画像、表示する文、一番最初に出したいのはactiveにする-->
      <div class="carousel-inner">

        <div class="carousel-item carousel-image-1 active">
        <!--画像が小さくなったら、もう文字は表示しない-->
        <div class="carousel-caption d-none d-md-block">
            <p class="title1 d-none d-lg-block">Welcome to my port !</p>
            <p class="introduction"><br>"my port"は業務に関する知識をアウトプットし、社内で共有するサービスです。</p>
          </div>
        </div>


        <div class="carousel-item carousel-image-2">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2" style="color:black;">Output</p>
            <p class="introduction2">あなたの知識・経験ををmy portに投稿しよう。</p>
            <p class="introduction2">アウトプットをすることで情報が整理され、理解が深まります。</p>
            <p class="introduction2">あなたの投稿でmy portは、大きな港へと発展していきます。</p>
          </div>
        </div>


        <div class="carousel-item carousel-image-3">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2" style="color:white;">Notice</p>
            <p class="introduction2" style="color:white;">日々行なっている仕事は人それぞれ。</p>
            <p class="introduction2" style="color:white;">投稿を通して自身や他者の強み/得意に気づくはずです。</p>
          </div>
        </div>





         <div class="carousel-item carousel-image-5">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2" style="color:black;">Find</p>
            <p class="introduction2">迷った時はmy portで解決策を探してみましょう。</p>
            <p class="introduction2">my portにはあなたの問題を解決する道標があるかもしれません。</p>
            <p class="introduction2">社内に同じ経験をしてる人がいるかもしれません。</p>
          </div>
        </div>


        <div class="carousel-item carousel-image-6">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2">Go on a voyage</p>
            <p class="introduction2" style="color:white;">my portで投稿をはじめよう。</p>
            <p class="introduction2" style="color:white;">my portはあなたの知識・理解を深め、</p>
            <p class="introduction2" style="color:white;">あなたの投稿により社内の誰かの問題を解決できるかもしれません。</p>
            <p><%= link_to "新規登録", new_user_registration_path,class:"btn btn-outline-dark fas fa-user-plus" %>
            <%= link_to "ログイン", new_user_session_path,class:"btn btn-outline-light fas fa-sign-in-alt" %></p>
          </div>
        </div>

      </div>
      <!--画像横の< > 出すための記述-->
      <a class="carousel-control-prev" href="#carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
      </div>

<div class="container mt-5">
  <h4 id="how_to_use" class="text-center">How to use</h4>
<ul class="contents">
  <li class="animationTarget">
    <%= image_tag 'show2.png',class:"img-fluid"%>
    <div class="contentsText">
      <h2>記事の閲覧と検索</h2>
      <p>Postの一覧ページでは投稿記事の一覧が見れます。<br>
      <strong>タグでの検索/ランキング/並び替え/検索</strong>ができます。<br>
      <strong>検索機能（インクリメンタルサーチ)</strong>を使用して<br>
      投稿を探しましょう。<br>
      参考になった投稿には、いいね(★)やコメントをしましょう</p>
    </div>
  </li>
  <li class="animationTarget">
    <%= image_tag 'show3.png',class:"img-fluid"%>
    <div class="contentsText">
      <h2>マイページ</h2>
      <!--<p>マイページでは自分の投稿、いいねした記事等が閲覧できます。<br>-->
      <!--記事がいいねされると<strong>Status</strong>の値が増えていきます。<br>-->
      <!--<strong>Activity</strong>ではあなたの頑張りをグラフにしています。<br>-->
      <!--<strong>最近投稿したタグ</strong>であなたの得意分野がわかります。</p>-->
    </div>
  </li>
  <li class="animationTarget">
    <%= image_tag 'show4.png',class:"img-fluid"%>
    <div class="contentsText">
      <h2>勉強会</h2>
      <p>社内での勉強会の開催をお知らせできます。<br>
      詳細ページから勉強会への参加、退出ができます。<br>
      管理者はメンバーにメールでの一斉通知が可能です。</p>
    </div>
  </li>

  <li class="animationTarget">
    <%= image_tag 'show5.png',class:"img-fluid"%>
    <div class="contentsText">
      <h2>いいね・コメント</h2>
      <p>いいねやコメントをしましょう！<br>
      いいねをもらうとマイページのTEUが増えていきます。<br>
      コメントは通知からも確認可能です。<br>
      未読の通知があるとNOTICEが赤くなります。</p>
    </div>
  </li>
</ul>
</div>



<style>
  $(".carousel").carousel({
    /*２秒間隔*/
    interval: 2000,
    /*マウスが乗ったら止める*/
    /*pause: "hover",*/
  })

/*アニメーションターゲット取得し、画面上に見えたらアニメーションする*/
/*const targetElement = document.querySelectorAll(".animationTarget");*/
/*console.log(targetElement);*/


/*アニメーションターゲット取得し、画面上に見えたらアニメーションする*/

  /*// これで上からの距離をとる*/
  /*// いま見えてるとこから、その要素の画像の上までの距離*/

</style>