
    <!--画像表示スライドはBootstrapのカルーセルで行う　動きはjquery-->
    <div class="carousel slide" data-ride="carousel" id="carousel">
      <!--下の棒（インディケーター）出すための記述-->
      <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li  data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
      </ol>
      <!--表示する画像、表示する文、一番最初に出したいのはactiveにする-->
      <div class="carousel-inner">

        <div class="carousel-item carousel-image-1 active">
        <!--画像が小さくなったら、もう文字は表示しない-->
        <div class="carousel-caption d-none d-md-block">
            <p class="title1 d-none d-lg-block">Welcome to my port !</p>
            <p class="introduction" style="color:white;"><br>"my port"は業務に関する知識をアウトプットし、社内で共有するサービスです。</p>
          </div>
        </div>


        <div class="carousel-item carousel-image-2">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2" style="color:black;">Output</p>
            <p class="introduction2">あなたの知識・経験ををmy portに投稿しよう。</p>
            <p class="introduction2">アウトプットをすることで情報が整理され、理解が深まります。</p>
            <p class="introduction2">あなたの投稿でmy portは、大きな港へと発展していきます。</p>
          </div>
        </div>


        <div class="carousel-item carousel-image-3">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2" style="color:white;">Notice</p>
            <p class="introduction2" style="color:white;">日々行なっている仕事は人それぞれ。</p>
            <p class="introduction2" style="color:white;">投稿を通して自身や他者の強み/得意に気づくはずです。</p>
          </div>
        </div>





         <div class="carousel-item carousel-image-5">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2" style="color:black;">Find</p>
            <p class="introduction2">迷った時はmy portで解決策を探してみましょう。</p>
            <p class="introduction2">my portにはあなたの問題を解決する道標があるかもしれません。</p>
            <p class="introduction2">社内に同じ経験をしてる人がいるかもしれません。</p>
          </div>
        </div>


        <div class="carousel-item carousel-image-6">
          <div class="carousel-caption d-none d-md-block" id="output">
            <p class="title2">Go on a voyage</p>
            <p class="introduction2" style="color:white;">my portで投稿をはじめよう。</p>
            <p class="introduction2" style="color:white;">my portはあなたの知識・理解を深め、</p>
            <p class="introduction2" style="color:white;">あなたの投稿により社内の誰かの問題を解決できるかもしれません。</p>
            <p><%= link_to "新規登録", new_user_registration_path,class:"btn btn-outline-dark fas fa-user-plus" %>
            <%= link_to "ログイン", new_user_session_path,class:"btn btn-outline-dark fas fa-sign-in-alt" %></p>
            <p><%= link_to "ゲストログインはこちら", users_guest_sign_in_path,class:"btn btn-outline-info fas fa-seedling",method: :post %></p>
          </div>
        </div>
      </div>
      </div>

<div class="container mt-5">
  <h4 id="how_to_use" class="text-center">How to use</h4>
<ul class="contents">
  <li class="animationTarget">
    <%= image_tag asset_path("show2.jpg"),class:"img-fluid"%>
    <div class="contentsText">
      <h2>記事の閲覧と検索</h2>
      <p style="font-size:19px;">
      <strong>検索/ランキング/並び替え/検索</strong>ができます。<br>
      <strong>逐次検索</strong>で欲しい情報に簡単にアクセス可能。<br></p>
    </div>
  </li>
  
  <h4 id="how_to_use" class="text-center">My page</h4>
    <li class="animationTarget">
      <%= image_tag asset_path("show3.png"),class:"img-fluid"%>
      <div class="contentsText">
        <h2>マイページ</h2>
         <p style="font-size:19px;">あなたのmy portでの頑張りが<strong>グラフ、</strong><br>
          <strong>ポイント(TEU)</strong>ですぐにでわかります。</p>
      </div>
    </li>
  
  <h4 id="how_to_use" class="text-center">Groups</h4>
    <li class="animationTarget">
      <%= image_tag asset_path("show4.png"),class:"img-fluid"%>
      <div class="contentsText">
        <h2>勉強会</h2>
        <p style="font-size:19px;">社内での<strong>勉強会</strong>の開催をお知らせできます。<br>
        気になる勉強会に参加しましょう。<br>
        管理者はメンバーに<strong>連絡（メール）</strong>が可能です。</p>
      </div>
    </li>

　<h4 id="how_to_use" class="text-center">Comments etc</h4>
    <li class="animationTarget">
      <%= image_tag asset_path("show6.png"),class:"img-fluid"%>
      <div class="contentsText">
        <h2>いいね・コメント（通知）</h2>
        <p style="font-size:19px;">
        <strong>いいね</strong>をもらうとポイントが増えていきます。<br>
        コメントは<strong>通知</strong>からも確認可能。<br>
        <strong>未読の通知</strong>があるとNOTICEが赤くなります。<br>
        未読の通知が溜まると<strong>メール</strong>でお知らせします。</p>
      </div>
    </li>
</ul>
</div>



<style>
  $(".carousel").carousel({
    /*２秒間隔*/
    interval: 2000,
    /*マウスが乗ったら止める*/
    /*pause: "hover",*/
  })
</style>