<div class="container">
  <p id="notice"><%= notice %></p>
 <div class="row">

<% if posts.present? %>
  <div class="post_box col-md-3 mt-5">
    <div style="text-align:center;">
      <h6><i class="fas fa-search">投稿記事を探す</i></h6>
      <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search_form_posts") do |f|%>
      <%= f.text_field :posts_keyword, placeholder:"キーワード", class: "search_input_posts"%>
      <%= f.submit "検索", class: "search_btn"%>
      <% end %>
    　　    <ul id="result_posts">
          </ul>

  　<div class="mb-5" style="text-align:center;">
  　 <h6><i class="fas fa-sort">並び替え</i></h6> 
  　   <%= link_to"  いいね数",post_favorite_order_path(posts) %> | <%= link_to"コメント数",post_comment_order_path(posts) %><br><%= link_to"閲覧数",post_impressions_order_path(posts) %>
    </div>

    <div class="mb-5" style="text-align:center;">
      <h6><i class="fas fa-crown">Weekly Best10</i></h6>
          <%= link_to"いいね数",post_favorite_weekly_order_path(posts) %> | <%= link_to"コメント数",post_comment_weekly_order_path(posts) %>
    </div>

    <div style="text-align:center;">
      <h6><i class="fas fa-tag">最新の投稿タグ</i></h6>
    </div>
        <div class="flex">
          <!--タグリスト-->
            <% tag_list.each do |list|%>
              <%=link_to search_tag_path(tag_id: list.id) do%>
                <span id="tag" class="btn btn-light">
                  <%= list.name %>
                  <%="(#{list.posts.count})" %>
                </span>
              <% end %>
            <% end %>
  　　    </div>
  </div>
<% else %>
<!--まだ投稿が１件もない時-->
  <p style="color:green;">
    <i class="far fa-smile-wink"></i>
      最初の投稿をお願いします。<br>投稿後、検索や並び替え等の機能がご利用可能です。:)
  </p>
<% end %>
</div>
