
<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">




<div class="post_box col-md-3 mt-3">
  <div style="text-align:center;">
    <h6><i class="fas fa-search">投稿記事を探す</i></h6>

　　<%= form_with(url: posts_searches_path, local: true, method: :get, class: "search_form_posts") do |f|%>
　　<%= f.text_field :posts_keyword, placeholder: "検索", class: "search_input_posts"%>
　　<%= f.submit "Search", class: "search_btn"%><% end %>
　　<ul id="result_posts">
     </ul>


　　<h6>並び替え</h6>
　　<p><%= link_to "新しい順", posts_path(sort: 'created_at DESC') %>|<%= link_to "古い順", posts_path(sort: 'created_at ASC') %></p>
　　<p><%= link_to"いいね数",post_favorite_order_path(posts) %>|<%= link_to"コメント数",post_comment_order_path(posts) %>|<%= link_to"閲覧数",post_impressions_order_path(posts) %></p>
　  <!--%= link_to "いいね順", posts_path(sort: 'post.favorites.count DESC') %> | %= link_to "コメント数順", posts_path(sort: 'post.post_comments.count DESC')%>-->
    <h6>いいね数ランキング</h6>
    <p><%= link_to"ウィークリー",post_favorite_weekly_order_path(posts) %></p>
    <h6>コメント数ランキング</h6>
    <p><%= link_to"ウィークリー",post_comment_weekly_order_path(posts) %></p>
    <h6>最新の投稿タグ</h6>
    <p><!--タグリスト-->
    <% tag_list.each do |list|%><i class="fas fa-tag"><%=link_to list.name,search_tag_path(tag_id: list.id) %><%="(#{list.posts.count})" %></i>

　　<% end %></p>



　 </div>

</div>
