<div class='container'>
  <div class='row justify-content-center mx-auto'>
    <div class="col-sm-12 col-md-6 col-lg-7 px-5 px-sm-0">
  
<%= form_with(model: @post, local: true) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> 件のエラーが発生したため保存できませんでした。:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<!--新規投稿エリア-->

  <div class="form-group">
    <%=f.label"タイトル"%>
    <%= f.text_field:title,class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label"本文" %>
    <%= f.text_area :content,'data-provider': :summernote %>
  </div>
  

  <div class="field">
    <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
    <%= f.text_field :name,value: @tag_list,class:"form-control"%>
    <p>※下書き保存ではタブは保存されません。</p>
  </div>
  
  
  
   <div class="form-group row">
    <%=f.label:"公開範囲",class:"col-sm-4"%>
      <% if @post.status == false %>
        <div style="padding-right:20px;">
          <%= f.radio_button :status, "公開",checked: true %>
          <%= f.label :status, "公開", {value: :true, style: "display: inline-block;"} %></div>
        <div style="padding-right:20px;">
          <%= f.radio_button :status, "下書き保存" %>
          <%= f.label :status, "下書き保存", {value: :false, style: "display: inline-block;"} %>
        </div>
      <% else %>
          <div style="padding-right:20px;">
            <%= f.radio_button :status, "公開",checked: true %>
            <%= f.label :status, "公開", {value: :true, style: "display: inline-block;"} %>
            <p>※一度公開した記事を下書き保存することは出来ません。</p>
          </div>
      <% end %>
    </div>
  <!--一度公開した記事は、下書き保存できない-->

　<div class="actions" style="margin:20px 0;">
    <%= f.submit "投稿",class:"btn btn-outline-primary btn-block" %>
  </div>
  <% end %>



    </div>
  </div>
</div>
  
