<div class="container">
<p id="notice"><%= notice %></p>


<% @posts.each do |post| %>
<!--投稿はカードで囲む-->
<div class="card">
  <div class="card-body">
    <!--表示される文字数は２５文字までにしてます-->
    <h6 class="card-title">
      <%=link_to post_path(post.id) do %><%= post.title.truncate(25) %>
      <% end %>
    </h6>
    <p class="text-md-right">
      <i class="far fa-comment-dots"><%=post.post_comments.count%></i>
      <%=post.user.name%>が投稿　<%=post.created_at.strftime('%Y/%m/%d') %></p>
  </div>
</div>
<% end %>

</div>


<style>
.card{
  padding:0;
  margin:0;
  border:none;
}



h6 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
</style>