<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'logo_my_port.png', size: '200x80' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        
        
  
  <!--ログインしてるユーザーが管理者の場合のみ-->
  <% if current_user.try(:admin?) %>
  <li class="nav-item">
    <%= link_to '管理者ページ', rails_admin_path %></li>/
  <li class="nav-item">
    <%= link_to '部署登録',departments_path%></li>
  <% end %>

        <!--カスタマーログイン後-->
     <% if user_signed_in? %>
     <li class="nav-item">
       <% if unchecked_notifications.any? %>
         <li><%= link_to "Notice",notifications_path, class: "btn btn-light fas fa-bell",style: "color:tomato;"%>
      <% else %>
         <li><%= link_to "Notice",notifications_path, class: "btn btn-light fas fa-check"%>
      <% end %>
      </li>
    
      <li class="nav-item">
        <%= link_to 'Groups',groups_path,class:"btn btn-light fas fa-graduation-cap" %>
     </li>
     <li class="nav-item">
        <%= link_to 'Users',users_path,class:"btn btn-light fas fa-users" %>
     </li>
     <li class="nav-item">
        <%= link_to 'Posts',posts_path,class:"btn btn-light fas fa-rss" %>
     </li>
      <li class="nav-item">
        <%= link_to 'New', new_post_path,class:"btn btn-light fas fa-plus" %>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle fas fa-ship" type="button" data-toggle="dropdown">My page</button>
          <div class="dropdown-menu">
            <%=link_to"マイページ",user_path(current_user.id),class:"dropdown-item"%>
            <p></p>
            <%=link_to"いいねした記事",favorites_user_path(current_user),class:"dropdown-item"%>
            <p></p>
            <%=link_to "コメントした記事", comments_user_path(current_user),class:"dropdown-item"%>
            <p></p>
            <%=link_to "下書き記事", confirm_user_path(current_user),class:"dropdown-item"%>
            <p></p>
            <%=link_to "MY勉強会",joined_group_user_path(current_user),class:"dropdown-item"%>
            <p></p>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </div>
        </div>
      </li>
      
    <% else %>
    
    <li class="nav-item">
        <%= link_to "ゲストログイン", users_guest_sign_in_path,class:"btn btn-light fas fa-seedling",method: :post %>
    </li>
    <li class="nav-item">
        <%= link_to " Top","/",class:"btn btn-light fas fa-ship" %>
    </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path,class:"btn btn-light fas fa-user-plus" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path,class:"btn btn-light fas fa-sign-in-alt" %>
      </li>
      
    <% end %>
    </div>
    </ul>
    </div>
    </nav>
</header>